:root {
  --container-padding: 3.2rem;
  --container-width: calc(112rem + (var(--container-padding) * 2));

  --font-main: 'Inter', sans-serif;
  --font-accent: 'Poppins', sans-serif;
  --font-nav: 'Space Grotesk';
  --font-titles: var(--font-accent);

  --tagline-link: #ffab00;
  --yellow: #ffc95c;
  --page-bg: #fff;
  --text-color: #000;
  --accent: #ac182c;
  --link-color: #2578c8;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}
