.icon {
  fill: transparent;
  stroke: transparent;
  width: 2.4rem;
  height: 2.4rem;

  &--arrow-right {
    width: 1.8rem;
    height: 1.8rem;
    stroke: var(--tagline-link);
  }

  &--ticket-percent {
    fill: #ffff;
  }

  &--close {
    width: 2.2rem;
    height: 2.2rem;
    stroke: #343839;
  }

  &--chevron {
    width: 1.8rem;
    height: 1.8rem;
    stroke: #343839;
  }
}
